Repository cmusatyalab/coda-packaging: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare:docker_build, prepare:docker_deb_build, prepare:docker_rpm_build

.gitlab-ci.yml:

image: registry.cmusatyalab.org/coda/coda-packaging/coda-deb-build:latest

stages:
 - prepare
 - build
 - deploy

# (re)build docker build containers
.prepare:docker_template: &docker_template
  stage: prepare
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker info
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE:$IMAGE || true
    - docker build --pull --cache-from $CI_REGISTRY_IMAGE:$IMAGE -t $CI_REGISTRY_IMAGE:$IMAGE $IMAGE
    - docker push $CI_REGISTRY_IMAGE:$IMAGE

prepare:docker_build:
  <<: *docker_template
  variables:
    DOCKER_DRIVER: overlay
    DOCKER_HOST: "tcp://localhost:2375"
    IMAGE: coda-build
  only:
    changes:
      - coda-build/*

prepare:docker_deb_build:
  <<: *docker_template
  variables:
    DOCKER_DRIVER: overlay
    DOCKER_HOST: "tcp://localhost:2375"
    IMAGE: coda-deb-build
  only:
    changes:
      - coda-deb-build/*

prepare:docker_rpm_build:
  <<: *docker_template
  variables:
    DOCKER_DRIVER: overlay
    DOCKER_HOST: "tcp://localhost:2375"
    IMAGE: coda-rpm-build
  only:
    changes:
      - coda-rpm-build/*


# build Coda binary packages
.setup:
  stage: prepare
  variables:
    REF: master
  script: ./setup-release.sh
  artifacts:
    paths:
      - coda-*.tar.?z
      - debian/
      - "*.src.rpm"
    expire_in: 1 week


.build:deb: &build_deb
  stage: build
  image: registry.cmusatyalab.org/coda/coda-packaging/coda-deb-build:latest
  script: ./build-debs.sh
  artifacts:
    paths:
      - dist/
    expire_in: 1 week

.build:rpm: &build_rpm
  stage: build
  image: registry.cmusatyalab.org/coda/coda-packaging/coda-rpm-build:latest
  script: ./build-rpms.sh
  cache:
    key: ${CI_JOB_NAME}
    paths:
      - cache/
  artifacts:
    paths:
      - dist/*.rpm
    expire_in: 1 week

.deploy:
  stage: deploy
  script:
    - echo "copy artifacts to coda repos"
  when: manual


.build:jessie-amd64:
  <<: *build_deb

.build:jessie-i386:
  <<: *build_deb

.build:stretch-amd64:
  <<: *build_deb

.build:stretch-i386:
  <<: *build_deb

.build:trusty-amd64:
  <<: *build_deb

.build:trusty-i386:
  <<: *build_deb

.build:xenial-amd64:
  <<: *build_deb

.build:xenial-i386:
  <<: *build_deb

.build:bionic-amd64:
  <<: *build_deb

.build:bionic-i386:
  <<: *build_deb

.build:cosmic-amd64:
  <<: *build_deb

.build:cosmic-i386:
  <<: *build_deb

.build:fedora-28-x86_64:
  <<: *build_rpm

.build:fedora-28-i386:
  <<: *build_rpm

.build:fedora-29-x86_64:
  <<: *build_rpm

.build:fedora-29-i386:
  <<: *build_rpm

.build:fedora-30-x86_64:
  <<: *build_rpm

.build:fedora-30-i386:
  <<: *build_rpm

.build:epel-6-x86_64:
  <<: *build_rpm

.build:epel-7-coda-x86_64:
  <<: *build_rpm

Another docker image build iteration
  build-debs.sh
  coda-deb-build/build-deb-chroot.sh
Due: prepare:docker_deb_build

Trying to run pbuilder outside of the coda-deb-build container.
  .gitlab-ci.yml
  coda-deb-build/Dockerfile
  coda-deb-build/build-deb-chroot.sh
Due: prepare:docker_deb_build

bump
  .gitlab-ci.yml
  coda-deb-build/build-deb-chroot.sh
Due: prepare:docker_deb_build

bump 1
  .gitlab-ci.yml
  coda-deb-build/build-deb-chroot.sh
Due: prepare:docker_deb_build

bump 2
  .gitlab-ci.yml
  coda-deb-build/build-deb-chroot.sh
Due: prepare:docker_deb_build

bump 3
  .gitignore
  .gitlab-ci.yml
  coda-deb-build/build-deb-chroot.sh
Due: prepare:docker_deb_build

Try to run pbuilder in separate job
  .gitlab-ci.yml
  coda-deb-build/build-deb-chroot.sh
Due: prepare:docker_deb_build

Split chroot builds to separate jobs per release
  .gitlab-ci.yml
  build-deb-chroots.sh
Due: none

Fix dependent job names
  .gitlab-ci.yml
Due: none

bump
  build-deb-chroots.sh
Due: none

babysteps
  .gitlab-ci.yml
  build-deb-chroots.sh
Due: none

chroots here we come
  .gitlab-ci.yml
  build-deb-chroots.sh
  ubuntu-pbuilder/Dockerfile
Due: none

Do not share caches between pbuilder chroot builds
  .gitlab-ci.yml
  build-deb-chroots.sh
Due: none

Move templates to include file and optimize coda-deb-build image
  .gitlab-ci-templates.yml
  .gitlab-ci.yml
  build-debs.sh
  build-rpms.sh
  coda-deb-build/Dockerfile
  coda-rpm-build/Dockerfile
  ubuntu-pbuilder/Dockerfile
Due: prepare:docker_deb_build, prepare:docker_rpm_build

Force docker file rebuilds
  .gitlab-ci-templates.yml
  .gitlab-ci.yml
  build-deb-chroots.sh
  build-debs.sh
  coda-build/Dockerfile
  coda-deb-build/Dockerfile
  coda-rpm-build/Dockerfile
  setup-release.sh
  ubuntu-pbuilder/Dockerfile
Due: prepare:docker_build, prepare:docker_deb_build, prepare:docker_rpm_build

Missing ca-certificates and following the wrong ref
  setup-release.sh
  ubuntu-pbuilder/Dockerfile
Due: none

jessie backports gone?
  build-deb-chroots.sh
Due: none

Copy chroots to the place we were expecting
  coda-deb-build/Dockerfile
Due: prepare:docker_deb_build

enable all builds
  .gitlab-ci.yml
Due: none

typo
  .gitlab-ci.yml
Due: none

not sure how to handle triggers yet
  .gitlab-ci.yml
Due: none

Only rebuild coda-build docker image with CI
  .gitlab-ci-templates.yml
  .gitlab-ci.yml
Due: none

Add scripting to build from chroots in containers instead of VMs
  build-container-fedora/Dockerfile
  build-container-fedora/epel-7-coda-x86_64.cfg
  build-container-ubuntu/Dockerfile
  build-deb-chroots.sh
  build-debs.sh
  build-rpms.sh
  build.sh
  coda-deb-build/Dockerfile
  debian/compat
  debian/control
  rpm/coda.spec.in
  setup-release.sh
  upload.sh
Due: prepare:docker_deb_build

Added hacks to get libuv1-dev from archive.debian.org for jessie chroot
  .gitignore
  build-debs.sh
  build-rpms.sh
  build.sh
  pbuilder-hooks/G00aptconf
  rpm/coda.spec.in
Due: none

Make sure brace expansion happens
  build.sh
Due: none

Coda-7.1.1 moved volmunge to bin/
  debian/coda-client.install
  rpm/coda.spec.in
Due: none

Updates for TLS
  build-container-fedora/epel-7-coda-x86_64.cfg
  build-debs.sh
  build-rpms.sh
  build.sh
  debian/coda-common.install
  debian/coda-server.install
  debian/control
  rpm/coda.spec.in
Due: none

Switch from cacheblocks to cachesize venus.conf option
  debian/coda-client.config
  debian/coda-client.postinst
  debian/coda-client.templates
Due: none

Build deb/rpm packages with Docker instead of in VMs
  Makefile
Due: none

Don't unmount/restart Coda client during upgrade (Debian/Ubuntu)
  debian/coda-client.install
  debian/coda-client.postinst
  debian/coda-client.postrm
  debian/coda-client.preinst
  debian/rules
Due: none

Attempt at cross-compiling packages for ARM architectures
  docker-build/cross_build.sh
Due: none

Update Debian build for python3, add Ubuntu-20.04
  Makefile
  build-container-ubuntu/Dockerfile
  build-debs.sh
  build.sh
  debian/control
  debian/rules
  pbuilder-hooks/G00aptconf
Due: none

Update Fedora/Centos builds for python3
  Makefile
  build-rpms.sh
  build.sh
  rpm/coda.spec.in
Due: none

Add fedora 32 build
  Makefile
  build-rpms.sh
  build.sh
Due: none

Suggest coda-client dependency on needrestart
  debian/control
Due: none

Remove Fedora 30 build
  Makefile
  build-rpms.sh
  build.sh
Due: none

coda_make_realm_certs will be replaced with coda-make-certs in coda-8.0.5
  debian/coda-server.install
  rpm/coda.spec.in
Due: none

ubuntu 19.10, fedora-31 and epel-6 are EOL.
  Makefile
  build-debs.sh
  build-rpms.sh
  build.sh
Due: none

Add builds for fedora-33 and ubuntu-20.10
  Makefile
  build-debs.sh
  build-rpms.sh
  build.sh
Due: none

Fix build for ubuntu 20.10
  build-debs.sh
Due: none
